a{
    color:#a8123d;
    text-decoration:none;
}
a:hover { text-decoration:underline;
color: #a8123d;}

.half a:hover{
    color:#ffffff;
    text-decoration:underline;
}

.transpa{
    color:#5D666A;
    font: 600 42px Poppins;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
font-stretch: normal;
font-size: 42px;
line-height: normal;
font-family: Poppins;
font-size-adjust: none;
font-kerning: auto;
font-optical-sizing: auto;
font-variant-alternates: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-language-override: normal;
font-feature-settings: normal;
font-variation-settings: normal;
}